<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<header th:fragment="header" class="my-4">
    <h1 class="">System Zarządzania Pracownikami</h1>
</header>
<footer th:fragment="footer" class="my-4 text-center">
    <p>&copy; 2023 Employee Management App</p>
</footer>
</body>
</html>
